<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Página Inicial - Monitoramento VPN</title>
</head>
<body>
    <div class="header">
        <h1>Bem-vindo ao Sistema de Monitoramento VPN</h1>
    </div>
    <div class="content">
        <a href="/monitoramento" class="button">Ir para Monitoramento</a>
    </div>
</body>
</html>
