<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Monitoramento VPN</title>
</head>
<body>
    <div class="header">
        <h1>Monitoramento VPN</h1>
        <p>Última atualização: {{ time.strftime('%d/%m/%Y %H:%M:%S') }}</p>
    </div>
    <div class="content">
        <h2>Usuários Logados:</h2>
        <ul>
            {% for line in log_data %}
                <li>{{ line }}</li>
            {% endfor %}
        </ul>
        <a href="/" class="button">Voltar para Página Inicial</a>
    </div>
</body>
</html>
