<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <title>Monitoramento de Usuários</title>
</head>
<body>
    <h1>Usuários Conectados ao OpenVPN</h1>
    <table>
        <thead>
            <tr>
                <th>Usuário</th>
                <th>IP</th>
                <th>Conectado Desde</th>
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
                <tr>
                    <td>{{ user.user }}</td>
                    <td>{{ user.ip }}</td>
                    <td>{{ user.connected_since }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
